
<div class="container">

    <div class="card-panel blue lighten-5"><p class="center-align">FIBO 3 rd FLOOR</p></div>

    <div class="collection">
        <a  class="collection-item">FB301 CLASSROOM1</a>
        <a  class="collection-item">FB306 FIBO COMPUTER CLUSTER</a>
        <a  class="collection-item">FB305 CLASSROOM5</a>
        <a  class="collection-item">FB304 LIBRARY </a>
        <a  class="collection-item">FB308 MEETING ROOM</a>
    </div>



    <button class="btn waves-effect waves-light" type="submit" name="action" routerLink="/floorseach" routerLinkActive="active">Back
    </button>
    <button class="btn waves-effect waves-light" type="submit" name="action" routerLink="/book" routerLinkActive="active">Book
    </button>

</div>