<div class="row">
<nav>
    <div class="nav-wrapper grey darken-2">
        <a href="" class="brand-logo"><a class="waves-effect waves-light btn grey">Reserve Room </a></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>Search</li>
            <li> <div class="input-field">
                <input id="search" type="search" required>
                <label for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div></li>
            <li><a href=""><i class="medium material-icons">person_pin</i></a></li>
            <li><a href=""><a routerLink="/login" routerLinkActive="active">Login</a></a></li>
            <li><a href=""><a>About</a></a></li>
        </ul>

    </div>
</nav>
</div>




<a href=""><a routerLink="/book" routerLinkActive="active">book</a></a>



<router-outlet></router-outlet>