<div class="row">
<nav>
    <div class="nav-wrapper grey darken-2">
        <a href="" class="brand-logo"><a class="waves-effect waves-light btn grey">Reserve Room </a></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href=""><a routerLink="/login" routerLinkActive="active" >Login</a></a></li>
            <li><a href=""><a routerLink="/signup" routerLinkActive="active">SignUp</a></a></li>
            <li><a href=""><a routerLink="/book/form/commitform" routerLinkActive="active">About</a></a></li>
        </ul>



    </div>
</nav>
</div>








<router-outlet></router-outlet>