
<div class="container">
    <div class="row">
        <div class="card-panel col offset-s3 s6">
                <div class="input-field col s12 ">
                    <input [(ngModel)]="username" name="username" id="username" type="text" class="validate" >
                    <label for="username">Username</label>
                </div>
                <div class="input-field col s12">
                    <input [(ngModel)]="password" name="password" id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
                <div class="row center-align">
                    <button class="btn waves-effect waves-teal  light-green accent-4" type="submit" (click)="formSubmit()">Login</button>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col offset-s4 s4">
            <div [hidden]="checkk"
                 class="alert alert-danger">
                <div class="card-panel blue lighten-5">Username or Password is not correct.</div>
            </div>
        </div>
    </div>
</div>

