<body>
    <div class="container">
        <div class="row">
            <div class="col offset-s4 s3">
                <button class="btn waves-effect waves-teal" type="button" routerLinkActive="active" routerLink = '/floorseach'>Enter Site</button>
            </div>
            <!--<div class="col s3">-->
                <!--<button class="btn waves-effect waves-teal" type="button" routerLinkActive="active" routerLink = '/search/date'>Search Date</button>-->
            <!--</div>-->
        </div>
    </div>
</body>