
<div  [hidden]="submitted">
    <div class="container"> <div class="form-group">

        <div>
            <h5 class="center-align">FRA301</h5>
        </div>
        <b class="highlight">Day / Month / Year</b>
        <input type="date" class="datepicker"  #box1 (keyup.enter)="dateshow.date=box1.value" (blur)="dateshow.date=box1.value">
        <!--<input #box (keyup.enter)="dateshow.date=box.value" placeholder="example : 01/01/2016">-->



        <table>
            <thead>
            <tr>
                <th data-field="time">TIME START</th>
                <th data-field="day1">TIME END</th>
            </tr>
            </thead>

            <tbody >

            <tr>
                <td ><input type="time" class="timepicker"  #box2 (keyup.enter)="dateshow.timeStart=box2.value"
                            (blur)="dateshow.timeStart=box2.value"></td>
                <td> <input type="time" class="timepicker"  #box3 (keyup.enter)="dateshow.timeEnd=box3.value"
                            (blur)="dateshow.timeEnd=box3.value"></td>
            </tr>
            </tbody>
        </table>

        <div [hidden]="dateshow.date"
             class="alert alert-danger">
            <div class="card-panel red accent-1">Date is required</div>
        </div>
        <div [hidden]="dateshow.timeStart"
             class="alert alert-danger">
            <div class="card-panel red accent-1">TimeStart is required</div>
        </div>
        <div [hidden]="dateshow.timeEnd"
             class="alert alert-danger">
            <div class="card-panel red accent-1">TimeEnd is required</div>
        </div>

        <table class="highlight">
            <thead>
            <tr>
                <th data-field="time"><p>Time Start :</p>{{dateshow.timeStart}}</th>
                <th data-field="time"><p>Time End :</p>{{dateshow.timeEnd}}</th>
                <th data-field="day1"><p>Date :</p>{{dateshow.date}}</th>

            </tr>
            </thead>
        </table>
        <!---->
        <table class="highlight ">
            <thead>
            <tr>
                <th data-field="id">Time</th>
                <th data-field="name"><p></th>

            </thead>

            <tbody>

            <tr >
                <td>8.30 - 9.30</td>
                <td> <p>
                    <a *ngIf='click1==true'  class="waves-effect waves-light btn red darken-3 " (click)="click1 = !click1" >book</a>
                    <a *ngIf='click1==false'  class="waves-effect waves-light btn indigo lighten-4" (click)="click1 = !click1" >book</a>
                    <!--<input type="checkbox" class="filled-in" id="filled-in-box" (click)="click1 = !click1" checked="checked"/>-->
                    <!--&lt;!&ndash;<label for="filled-in-box" [checked]="choices.done" (click)="updateStatus(choices)">Filled in</label>&ndash;&gt;-->
                    <!--<label for="filled-in-box" >Filled in</label>-->
                </p></td>

            </tr >
            <tr>
                <td>9.30 - 10.30</td>
                <td> <p>
                    <a *ngIf='click2==true'  class="waves-effect waves-light btn red darken-3 " (click)="click2 = !click2" >book</a>
                    <a *ngIf='click2==false'  class="waves-effect waves-light btn indigo lighten-4" (click)="click2 = !click2" >book</a>
                </p></td>

            </tr>
            <tr>
                <td>10.30 - 11.30</td>
                <td> <p>
                    <a *ngIf='click3==true'  class="waves-effect waves-light btn red darken-3 " (click)="click3 = !click3" >book</a>
                    <a *ngIf='click3==false'  class="waves-effect waves-light btn indigo lighten-4" (click)="click3 = !click3" >book</a>
                </p></td>

            </tr>
            <tr>
                <td>11.30 - 12.30</td>
                <td> <p>
                    <a *ngIf='click4==true'  class="waves-effect waves-light btn red darken-3 " (click)="click4 = !click4" >book</a>
                    <a *ngIf='click4==false'  class="waves-effect waves-light btn indigo lighten-4" (click)="click4 = !click4" >book</a>
                </p></td>

            </tr>
            <tr>
                <td>12.30 - 13.30</td>
                <td> <p>
                    <a *ngIf='click5==true'  class="waves-effect waves-light btn red darken-3 " (click)="click5 = !click5" >book</a>
                    <a *ngIf='click5==false'  class="waves-effect waves-light btn indigo lighten-4" (click)="click5 = !click5" >book</a>
                </p></td>

            </tr>
            <tr>
                <td>13.30 - 14.30</td>
                <td> <p>
                    <a *ngIf='click6==true'  class="waves-effect waves-light btn red darken-3 " (click)="click6 = !click6" >book</a>
                    <a *ngIf='click6==false'  class="waves-effect waves-light btn indigo lighten-4" (click)="click6 = !click6" >book</a>
                </p></td>

            </tr>
            <tr>
                <td>14.30 - 15.30</td>
                <td> <p>
                    <a *ngIf='click7==true'  class="waves-effect waves-light btn red darken-3 " (click)="click7 = !click7" >book</a>
                    <a *ngIf='click7==false'  class="waves-effect waves-light btn indigo lighten-4" (click)="click7 = !click7" >book</a>
                </p></td>

            </tr>
            </tbody>
        </table>
        <!---->
        <!--test -->
        <button type="submit" class="btn btn-default" (click)="submitted=true">Submit</button>
        <div class="row"></div>
    </div>
    </div>
</div>





    <div [hidden]="!submitted"><div class="container">
        <h2>You submitted the following:</h2>


        <table class="highlight">
            <thead>
            <tr>
                <th data-field="time">time :</th>
                <th data-field="day1"><p>Date :</p>{{dateshow.date}}</th>
            </tr>

            <tr >
                <td *ngIf="click1==true">8.30 - 9.30</td>
            </tr>
            <tr >
                <td *ngIf="click2==true">9.30 - 10.30</td>
            </tr>
            <tr >
                <td *ngIf="click3==true">10.30 - 11.30</td>
            </tr>
            <tr >
                <td *ngIf="click4==true">11.30 - 12.30</td>
            </tr>
            <tr >
                <td *ngIf="click5==true">12.30 - 13.30</td>
            </tr>
            <tr >
                <td *ngIf="click6==true">13.30 - 14.30</td>
            </tr>
            <tr >
                <td *ngIf="click7==true">14.30 - 15.30</td>
            </tr>
            </thead>
        </table>



        <br>
        <button class="btn btn-default  pink lighten-1" (click)=" submitted =false;dateshow.time=''"   >Edit</button>


        <button class="btn waves-effect " type="submit" name="action" routerLink="/book/form" routerLinkActive="active">Form
            <i class="material-icons right">mode_edit</i>
        </button>
        <br><br>

    </div>
</div>

<!--<div>-->
<!--<h5 class="right-align"><a routerLink="/page1" routerLinkActive="active">-->
<!--<a class="waves-effect waves-light btn" >Submit</a>-->
<!--</a></h5>-->
<!--</div>-->
