<div class="container">

    <div  [hidden]="click1">
    <div class="card-panel teal lighten-4">
        <div class="center-align"> <p class="flow-text">FORM  OF  STUDENT</p>
        </div></div>



    <div class="row">

            <div class="row">

                <p class="flow-text">List of student</p>
                <!--<div><b class="center-align"></b></div>-->
                <table class="highlight">
                    <thead>
                    <tr>
                        <th data-field="id">Number</th>
                        <th data-field="name"></th>
                        <th data-field="price"></th>
                        <th data-field="price"></th>
                        <th data-field="price"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <!--1-->
                    <tr>
                        <td>1</td>
                        <td>
                            <div class="input-field col s6">
                                <input  id="first_name1" type="text" class="validate" #box10 (keyup.enter)="inputForm.fristname=box10.value" (blur)="inputForm.fristname=box10.value">
                                <label for="first_name1"><b>First Name</b></label>
                            </div>
                        </td>
                        <td><div class="input-field col s6">
                            <input id="last_name1" type="text" class="validate">
                            <label for="last_name1"><b>Last Name</b></label>
                        </div>
                        </td>
                        <td>
                            <div class="input-field col s6">
                                <input id="id1" type="text" class="validate">
                                <label for="id1"><b>ID</b></label>
                            </div>
                        </td>
                        <td>
                            <div class="input-field col s6">
                                <input id="year1" type="text" class="validate">
                                <label for="year1"><b>Grade</b></label>
                            </div>
                        </td>
                    </tr>
                    <!--2-->
                    <tr>
                        <td>2</td>
                        <td>
                            <div class="input-field col s6">
                                <input  id="first_name2" type="text" class="validate" #box11 (keyup.enter)="inputForm.fristname=box11.value" (blur)="inputForm.fristname=box11.value">
                                <label for="first_name2"><b>First Name</b></label>
                            </div>
                        </td>
                        <td><div class="input-field col s6">
                            <input id="last_name2" type="text" class="validate">
                            <label for="last_name2"><b>Last Name</b></label>
                        </div>
                        </td>
                        <td>
                            <div class="input-field col s6">
                                <input id="id2" type="text" class="validate">
                                <label for="id2"><b>ID</b></label>
                            </div>
                        </td>
                        <td> <div class="input-field col s6">
                            <input id="year2" type="text" class="validate">
                            <label for="year2"><b>Grade</b></label>
                        </div></td>
                    </tr>
                    <!--3-->
                    <tr>
                        <td>3</td>
                        <td>
                            <div class="input-field col s6">
                                <input  id="first_name3" type="text" class="validate">
                                <label for="first_name3"><b>First Name</b></label>
                            </div>
                        </td>
                        <td><div class="input-field col s6">
                            <input id="last_name3" type="text" class="validate">
                            <label for="last_name3"><b>Last Name</b></label>
                        </div>
                        </td>
                        <td>
                            <div class="input-field col s6">
                                <input id="id3" type="text" class="validate">
                                <label for="id3"><b>ID</b></label>
                            </div>
                        </td>
                        <td>

                            <div class="input-field col s6">
                                <input id="year3" type="text" class="validate">
                                <label for="year3"><b>Grade</b></label>
                            </div>
                        </td>
                    </tr>
                    <!--4-->
                    <tr>
                        <td>4</td>
                        <td>
                            <div class="input-field col s6">
                                <input  id="first_name4" type="text" class="validate">
                                <label for="first_name4"><b>First Name</b></label>
                            </div>
                        </td>
                        <td><div class="input-field col s6">
                            <input id="last_name4" type="text" class="validate">
                            <label for="last_name4"><b>Last Name</b></label>
                        </div>
                        </td>
                        <td>
                            <div class="input-field col s6">
                                <input id="id4" type="text" class="validate">
                                <label for="id4"><b>ID</b></label>
                            </div>
                        </td>
                        <td> <div class="input-field col s6">
                            <input id="year4" type="text" class="validate">
                            <label for="year4"><b>Grade</b></label>
                        </div></td>
                    </tr>
                    <!--5-->
                    <tr>
                        <td>5</td>
                        <td>
                            <div class="input-field col s6">
                                <input  id="first_name5" type="text" class="validate">
                                <label for="first_name5"><b>First Name</b></label>
                            </div>
                        </td>
                        <td><div class="input-field col s6">
                            <input id="last_name5" type="text" class="validate">
                            <label for="last_name5"><b>Last Name</b></label>
                        </div>
                        </td>
                        <td>
                            <div class="input-field col s6">
                                <input id="id5" type="text" class="validate">
                                <label for="id5"><b>ID</b></label>
                            </div>
                        </td>
                        <td> <div class="input-field col s6">
                            <input id="year5" type="text" class="validate">
                            <label for="year5"><b>Grade</b></label>
                        </div></td>
                    </tr>
                    </tbody>
                </table>



                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1"><b>Reasonn for using place</b></label>
                </div>
                <div class="input-field col s12">
                    <textarea id="textarea2" class="materialize-textarea"></textarea>
                    <label for="textarea1"><b>Commend</b></label>
                </div>



            </div>

        <button class="btn btn-default pink lighten-1" routerLink="/book" routerLinkActive="active">Cancel</button>
        <button class="btn btn-default" (click)="click1=true">Submit</button>
    </div>

    </div>
    <div  [hidden]="!click1">

        <p>{{inputForm.fristname}}</p>


    </div>

</div>