<div  [hidden]="submitted">
<div class="container">
    <br>
    <div class="row">
        <h3>MANAGE BOOKING ROOM.</h3>
    </div>
    <br>
    <table class="centered">
        <thead>
        <tr>
            <th data-field="studentid">Student ID.</th>
            <th data-field="room">Room.</th>
            <th data-field="date">Date.</th>
            <th data-field="time">Time.</th>
            <th data-field="about">About.</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>58340500029</td>
            <td>FB301</td>
            <td>12/05/2016</td>
            <td>13.30-15.30</td>
            <td>

                <button *ngIf='clickA==false && clickB==false' class="btn btn-default light-green accent-4" (click)="submitted=true">About</button>
                <a *ngIf='clickA==true ' class="btn-flat disabled">About</a>
                <a *ngIf='clickB==true' class="btn-flat disabled deep-orange lighten-4">About</a>
            </td>
        </tr>
        <tr>
            <td>58340500025</td>
            <td>FB305</td>
            <td>12/05/2016</td>
            <td>12.30-13.30</td>
            <td>
                <a  class="btn-flat disabled">About</a>
            </td>
        </tr>
        <tr>
            <td>58340500024</td>
            <td>FB304</td>
            <td>12/06/2016</td>
            <td>16.30-18.30</td>
            <td>
                <a class="btn-flat disabled">About</a>
            </td>
        </tr>
        </tbody>
    </table>
</div></div>

<div  [hidden]="!submitted">
    <div class="container">
        <nav>
            <div class="nav-wrapper grey darken-2">
                <div class="col s12">
                    <a  class="breadcrumb">583405000029</a>
                    <a  class="breadcrumb">book</a>
                    <a  class="breadcrumb">Waiting to Approving</a>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <br>
                        <span class="card-title">Waiting for approving</span>
                        <br>
                        <br>
                        <br>
                        <br>
                        <p>First name: Nitisak</p>
                        <br>
                        <p>Surname: Worrasittichai</p>
                        <br>
                        <p>Student's ID: 58340500006</p>
                        <br>
                        <p>Grade: ปีสอง</p>
                        <br>
                        <p>Reason for using this place: เนื่องจากเป็นช่วงสอบปลายภาคจึงขอใช้ห้องนี้เพื่อใช้ในการอ่านหนังสือกับเพื่อน</p>
                        <br>
                    </div>
                    <div class="card-action">
                    </div>
                </div>
            </div>
        </div>
        <div class="right-align">
            <br><button class="btn btn-default  red lighten-1" (click)="submitted=false ;clickB=true">Deny</button>
            <button class="btn btn-default light-green darken-1" (click)="clickA=true ; submitted=false">Submit</button>

        </div>



    </div>


</div>