<div  [hidden]="submitted">
<div class="container">
    <br>
    <div class="row">
        <h3>MANAGE BOOKING ROOM.</h3>
    </div>
    <br>
    <table class="centered">
        <thead>
        <tr>
            <th data-field="studentid">Student ID.</th>
            <th data-field="room">Room.</th>
            <th data-field="date">Date.</th>
            <th data-field="time">Time.</th>
            <th data-field="about">About.</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>58340500029</td>
            <td>FB301</td>
            <td>12/05/2016</td>
            <td>13.30-15.30</td>
            <td>

                <button *ngIf='clickA==false && clickB==false' class="btn btn-default light-green accent-4" (click)="submitted=true">About</button>
                <a *ngIf='clickA==true ' class="btn-flat disabled">About</a>
                <a *ngIf='clickB==true' class="btn-flat disabled deep-orange lighten-4">About</a>
            </td>
        </tr>
        <tr>
            <td>58340500025</td>
            <td>FB305</td>
            <td>12/05/2016</td>
            <td>12.30-13.30</td>
            <td>
                <a  class="btn-flat disabled">About</a>
            </td>
        </tr>
        <tr>
            <td>58340500024</td>
            <td>FB304</td>
            <td>12/06/2016</td>
            <td>16.30-18.30</td>
            <td>
                <a class="btn-flat disabled">About</a>
            </td>
        </tr>
        </tbody>
    </table>
</div></div>

<div  [hidden]="!submitted">
    <div class="container">
    <!---->




        <!---->
        <div class="right-align">
            <br><button class="btn btn-default  red lighten-1" (click)="submitted=false ;clickB=true">Deny</button>
            <button class="btn btn-default light-green darken-1" (click)="clickA=true ; submitted=false">Submit</button>

        </div>



    </div>


</div>