
<nav>
    <div class="nav-wrapper grey darken-3">
        <a href="#" class="brand-logo center grey darken-3">ABOUT</a>
    </div>
</nav>
<footer class="page-footer  grey darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">HOW TO BOOKING FOR TEACHER</h5>
                <p class="grey-text text-lighten-4">1.เมื่อเข้ามาในWebแล้ว จะต้องlogin โดยการใส่Username และ  Password เพื่อข้าไปใช้งาน</p>
                <p class="grey-text text-lighten-4">2.หากไม่มีรหัสในการใช้งาน จะต้องสมัครเพื่อใช้งานโดยคลิ๊กปุ่ม SingUp ที่มุมบนด้านขวา</p>
                <p class="grey-text text-lighten-4">3.เมื่อLoginได้แล้ว ให้กดปุ่มENTER SITE เพื่อทำการจองห้อง</p>
                <p class="grey-text text-lighten-4">4.เลือกชั้นที่ต้องการจะจอง</p>
                <p class="grey-text text-lighten-4">5.กดปุ่มBookเพื่อจองห้อง</p>
                <p class="grey-text text-lighten-4">6.ใส่วันที่ และ เวลา</p>
                <p class="grey-text text-lighten-4">7.เมื่อได้วันที่และเวลาที่ต้องการแล้วให้กดปุ่ม SUBMIT เพื่อทำการยืนยัน</p>
                <p class="grey-text text-lighten-4">8.เช็คความถูกต้องของวันที่และเวลา ถ้าถูกต้องแล้วให้กดปุ่มFORM แต่ถ้าต้องการกลับไปแก้ไขให้กดปุ่ม EDIT</p>
                <p class="grey-text text-lighten-4">9.กรอกชื่อ หลังจากนั้นให้กด SUBMIT</p>

            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 Copyright FIBO
            <a class="grey-text text-lighten-4 right" href="#!">Back homepage</a>

        </div>
    </div>

</footer>